.AppQ {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: #8a94a7;
  background-color: #1d2026;
}

/* Font Define */
.x-font1-large1 {
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0px;
  color: white;
  font-weight: 600;
  margin-bottom: 16px;
}

.x-font1-big {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0px;
  color: white;
  padding: 24px 0 4px;
}

.x-font1-large2 {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0px;
  color: white;
  font-weight: 600;
  margin-bottom: 50px;
}

.x-font1-large3 {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0px;
  color: white;
}

.x-font1-normal0 {
  font-size: 15px;
  font-weight: normal;
  line-height: 32px;
}

.x-font1-normal1 {
  font-size: 18px;
  line-height: 30px;
}

.x-font1-normal2 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.1px;
}

.x-font1-normal3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
  text-align: left;
}

.x-font1-normal-bold {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 600;
  line-height: 16px;
  color: white;
}

.x-font1-small1 {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
}

.x-font1-small2 {
  font-size: 14px;
  line-height: 22px;
  color: #1d2026;
}

/* Landing Part */

/* Section 1 */
.x-dashboard {
  display: flex;
  justify-content: center;
}

.x-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.x-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.x-title-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 64px 0 88px;
  padding: 88px 0;
}

.x-title-section-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 3.3vw 0 0;
}

.x-title-section-description-btngroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 5%;
}

.x-header-decoration::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background: linear-gradient(
    80deg,
    rgba(36, 40, 48, 0.5) 0%,
    rgba(36, 40, 48, 0) 100%
  );
  transform-origin: 0;
  transform: skewY(-12deg);
  z-index: 0;
}

.x-button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 1.6vw;
  border-radius: 2px;
  cursor: pointer;
  min-width: 170px;
  background: linear-gradient(65deg, #0270d7 0, #0f8afd 100%);
}

.x-button-primary:hover {
  background: linear-gradient(65deg, #0275e1 0, #198ffd 100%);
}

.x-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #242830;
  min-width: 170px;
}

.x-button:hover {
  background: #262a33;
}

/* Section 2 */
.x-classify-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 88px 0;
  flex-wrap: wrap;
  border-bottom: solid 1px #8a94a7;
}

.x-classify-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.x-classify-section-item-feature {
  display: flex;
  justify-content: center;
}

/* Section 3 */
.x-customer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 88px 0;
  border-bottom: solid 1px #8a94a7;
}

.x-customer-section-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.x-customer-section-itemline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 20px;
}

/* Section 4 */
.x-contact-section {
  display: flex;
  text-align: left;
  margin: 64px 32px;
  background-color: #2c3039;
  padding: 24px;
}

.x-contact-section-formlabel1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-contact-section-formlabel2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-control {
  border-radius: 0px !important;
}

.form-check-input {
  border-radius: 0 !important;
  width: 13px !important;
  height: 13px !important;
}

.label-style {
  padding: 5px 0;
}

/* Footer Part */
.x-footer {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
}

.x-footer-external {
  display: flex;
  justify-content: space-between;
  padding: 0 0 24px;
}

.x-footer-external-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;
}

.x-footer-introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Design */

@media only screen and (max-width: 1124px) {
  .x-classify-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .x-container {
    margin: 0 20px;
  }
  .x-classify-section {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 640px) {
  .x-title-section {
    padding: 0;
  }

  .x-title-section-description {
    align-items: center;
    padding: 0 0 0 0;
  }

  .x-font1-normal3 {
    text-align: center;
  }

  .x-title-section-description-btngroup {
    flex-direction: column;
    justify-content: center;
    grid-gap: 20px;
    max-width: 50%;
  }

  .x-footer {
    padding: 48px 0;
    grid-gap: 20px;
  }

  .x-footer-external {
    flex-direction: column;
    align-items: center;
    padding: 0;
    grid-gap: 20px;
  }

  .x-footer-introduction {
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
  }

  .x-button-primary {
    width: 100%;
  }

  .x-button {
    width: 100%;
  }
}

@media only screen and (max-width: 510px) {
  .x-classify-section {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 410px) {
  .x-classify-section {
    padding: 0;
  }
}
